<!DOCTYPE html>
<html>
    <head>
        <title>{{.BlogTitle}}</title>
        <meta content="text/html; charset=UTF-8" http-equiv="Content-Type">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="icon" href="favicon.png" type="image/png">
        <link href="css/{{.Theme}}" rel="stylesheet" type="text/css"></head>
    <body>
        <h1 class="title"><a href="index.html">{{.BlogTitle}}</a></h1>
        <hr>
        <h2 class="title">{{.Title}}</h2>
                <p id="date"> {{.Date}}</p>
                <p id="descr">{{range $element := .Tags}} {{$element}} {{else}} {{end}}</p>
                <div class="content">
                    {{.Body}}
                </div>
        </hr>
        <p id="back"><a href="index.html"><< Index</a></p>
        <hr>
        <p class="footer">made with <a href="https://github.com/pprobst/beatrice">beatrice</a></p>
        </hr>
    </body>
</html>
